<%= form_for(@cont) do |f| %>
  <% if @cont.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cont.errors.count, "error") %> prohibited this cont from being saved:</h2>

      <ul>
      <% @cont.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
  <div class="field">
    <%= f.label :html %><br />
    <%= f.text_area :html %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :error_type %><br />
    <%= f.number_field :error_type %>
  </div>
  <div class="field">
    <%= f.label :error_msg %><br />
    <%= f.text_area :error_msg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
