<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/CSS/reset.css" type="text/css" media="screen, projection">

<link rel="stylesheet" href="/CSS/typography.css" type="text/css" media="screen, projection">

  <style>
 
.main {  margin:0 auto;  width:700px;   }

 </style>
<title><%= @cont.title %></title>
</head>

<body>
<div class="main">
<h2><%= @cont.title %></h2>

<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @cont.link %>
</p>

<%= @cont.content.html_safe %>

<%= link_to 'Edit', edit_cont_path(@cont) %> |
<%= link_to 'Back', conts_path %>

</div>
</body>